
     /* FIRST NAVBAR */
i{
    letter-spacing: 13px;
}
button{
    font-size: 12px;
    height: 30px;
    color:  #424242 ;
}
    /* SECOND NAVBAR */
   
.logo{
    width: 200px;
    height: 60px;
}
ul li{
    display: inline-block;
    padding: 1px;
}
ul li a{
    padding: 5px 12px;
    color: black;
}
a:hover{
    background-color:#0275d8 ;
    color: white;
    padding: 5px 12px;
    border-radius: 50px;
    text-decoration: none;
}
.active{
    background-color:#0275d8 ;
    border-radius: 50px;
    color: white;
}
    /* iMAGE */
.slide{
    width: 100%;
}
    /* INTRODUCTION */
.introimg{
    text-align: center;
    color: green;
}
.introimg img{
    margin-left: 15px;
    margin-right: 15px;
}
p.introimg{
    font-size: 30px;
}
    /* 3RD NAVBAR */
.size{
    width: 50px;
}
.sec{
    font-size: 18px ;
    font-weight: bold;
}
.sec1{
    color: #4BEF00;
}
.number{
    font-size: 50px ;
}
    /* WHAT WE ARE DOING */
.doubleword{
    font-family: 25 'merriweather' , serif;
    color: green;
}
    /* CARD VIEW */
.card{
    padding: 10px;
    margin-bottom: 20px;
}    
.cardimg{
    width: 70px;
    margin-bottom: 20px;
}   
.cardwords{
    font-family: 'merriweather' , serif ;
    font-size: 20px;
    font-weight: 600;
    color: #2C79CF;
}
    /* Mission and upcoming projects */
.hdng{
    font-family:24px 'merriweather' , serif;
    color: #316DC3;
}
.hdngname{
    font-family:24px 'merriweather' , serif;
    color: #316DC3;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
}
.box-color{
    background-color:#F1F1F1;
}
    /* footer */
.footer{
    background-color: #212121;
    padding: 70px;
}        
.footertext{
    color: #BBBBBB;
    font-family: "Open-sans" , sans-serif;
    font-size: 14px;
}    
.footericons{
    color: darkgreen;
    font-family:10px "Open-sans" , sans-serif;
}
.footermidheading{
    color:white;
    font-family:10px "Open-sans" , sans-serif;
    font-size: 16px;
}
.socialicons{
    color: white;
} 
.copyright{
    color: white;
    font-size: 12px;
}
.footerrowmargin{
    margin-left: 80px;
}
@media only screen and (max-width: 500px) {
    .footerrowmargin{
        margin-left: 0px;
    }
}
  @media only screen and (min-width: 1000px) {
    .footerrowmargin{
        margin-left: 80px;
    }
}
@media only screen and (max-width: 700px) {
    .footerrowmargin{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 800px) {
    .footerrowmargin{
        margin-left: 0px;
    }
}

